/* .ant-layout, body, html {
    background-image: url('../../assets/background.svg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
}
.sideContent * {
  color: #4f5d75 !important;
} */
